<svg xmlns="http://www.w3.org/2000/svg" width="1184.4" height="200.032" viewBox="0 0 4500 760">
  <defs>
    <style>
      .cls-1, .cls-3 {
        font-size: 625px;
        text-anchor: end;
        font-family: Comfortaa;
        font-weight: 700;
      }

      .cls-1, .cls-2 {
        fill: #fff;
      }
    </style>
  </defs>
  <text id="_-research" data-name="-research" class="cls-1" x="4419" y="619"><tspan x="4419">-research</tspan></text>
  <path id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-2" d="M1,1H968a250,250,0,0,1,250,250V760a0,0,0,0,1,0,0H251A250,250,0,0,1,1,510V1A0,0,0,0,1,1,1Z"/>
  <text id="AGI" class="cls-3" x="1184.999" y="625"><tspan x="1184.999">AGI</tspan></text>
</svg>
