<svg xmlns="http://www.w3.org/2000/svg" width="500" height="300" viewBox="0 0 2000 1200">
  <defs>
    <style>
      .cls-1 {
        font-size: 395.833px;
      }

      .cls-1, .cls-3 {
        text-anchor: end;
        font-family: Comfortaa;
      }

      .cls-2 {
        fill-rule: evenodd;
      }

      .cls-3 {
        font-size: 625px;
        fill: #fff;
      }
    </style>
  </defs>
  <text id="_-research" data-name="-research" class="cls-1" x="1981" y="1152"><tspan x="1981">-research</tspan></text>
  <path id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-2" d="M50,50h967c138.07,0,250,111.929,250,250V809H300C161.929,809,50,697.071,50,559V50Z"/>
  <text id="AGI" class="cls-3" x="1224" y="674"><tspan x="1224">AGI</tspan></text>
</svg>